body {
    background: #586a87;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 40px;
}

.even-flex-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#block1 {
    padding: 100px 0;
}

#block1 > * {
    margin: 50px;
    max-width: 500px;
}

.desk > svg {
    width: 500px;
    height: 500px;
}

g#steam > line {
    stroke-dasharray: 6px 14.94px;
    stroke-dashoffset: 20.94px;
    animation: march 5s linear infinite;
}

g#steam > line:nth-child(2n) {
    stroke-dasharray: 12px 8.94px;
}

@keyframes march {
    to {
        stroke-dashoffset: 0;
    }
}

#block2 {
    flex-wrap: wrap-reverse;
}

#block2 > * {
    margin: 50px;
    max-width: 500px;
}

.servers > svg {
    width: 500px;
    height: 500px;
}

g#servers > line {
    animation: march 2s linear infinite;
}

g#servers > line:nth-child(1) {
    stroke-dasharray: 10px 175px;
    stroke-dashoffset: 185px;
}

g#servers > line:nth-child(2) {
    stroke-dasharray: 10px 176.24px;
    stroke-dashoffset: 186.24px;
    animation-duration: 3s;
}

g#servers > line:nth-child(3) {
    stroke-dasharray: 10px 231.24px;
    stroke-dashoffset: 241.24px;
    animation-duration: 4s;
}

g#servers > line:nth-child(4) {
    stroke-dasharray: 10px 232.5px;
    stroke-dashoffset: 242.5px;
    animation-duration: 5s;
}
